.custom-inp-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.custom-inp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.input-element{
    width: 200px;
}